[submodule "deps/sofia-sip"]
        path = deps/sofia-sip
	url = git@github.com:hiyainc-oss/sofia-sip
	branch = hiya-single-pai
[submodule "deps/libzrtp"]
	path = deps/libzrtp
	url = https://github.com/traviscross/libzrtp.git
[submodule "deps/prometheus-cpp"]
	path = deps/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
